
.idea
gmail/__pycache__/

email-config.json
email-sender.json

// credentials
token.pickle
directory-token.pickle
gmail-token.pickle
directory/token.pickle
directory/samples/token.pickle
gmail/token.pickle
gmail/samples/token.pickle
credentials